name: Build & Test
on:
  push:
    branches: [ main ]
    paths: 
      - 'src/**'
      - '!**/*.md'
  pull_request:
    branches: [ main ]
    paths: 
      - 'src/**'
      - '!**/*.md'
  workflow_dispatch:
jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
        include-prerelease: true
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
